/* Body */
body {
    font-size: 1rem;
    font-family: sans-serif;
    margin: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: background-color .5s;
}
/* Body */

/* Side Navbar */
.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    padding-top: 60px;
    background-color: #111;
    overflow-x: hidden;
    z-index: 1;
    transition: 0.5s;
}

.sidenav a {
    display: block;
    font-size: 2rem;
    padding: 8px 8px 8px 32px;
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    font-size: 2rem;
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

#closeBtn, #homeBtn {
    color: #ac26de;
}
/* Side Navbar */

/* Main */
#main {
    padding: 0 0 0 50px;
    transition: margin-left .5s;
    text-align: center;
}

/* Main Navbar */
.mainNav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ac26de;
}

.mainNav h1 {
    font-size: 6rem;
    letter-spacing: 0.2rem;
    height: 85px;
    margin-top: 0;
    text-shadow: #ac26de 1px 0 8px;
}

#openBtn {
    font-size: 2rem;
    cursor: pointer;
    height: 40px;
}
/* Main Navbar */

/* Content */
.contentHeader {
    font-size: 5rem;
    margin-top: 2%;
    margin-bottom: 0;
    border: 2px solid #000;
    border-bottom: none;
    text-shadow: #ac26de 1px 0 8px;
    box-shadow: 0 0 8px #ac26de;
}

/* Three Day Workout Program */
.threeDayCont {
    margin-bottom: 2%;
    text-align: left;
    border: 2px solid #000;
    box-shadow: 0 0 8px #ac26de;
}

.principles {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: 0.2rem;
    border-bottom: 2px solid #000;
}

.principles h3 {
    margin: 0 0 20px 0;
    font-size: 3rem;
    font-weight: lighter;
}

.principlesHeader {
    text-decoration: underline;
    text-underline-offset: 14px;
}

.threeDayProgram {
    padding: 2%;
    letter-spacing: 0.1rem;
}

.afterWorkout {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.threeDayProgram h4 {
    font-size: 2rem;
}

.threeDayProgram p {
    font-size: 1.2rem;
}

#supersets {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

#fullBody {
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}
/* Three Day Workout Program */

#workoutBtn {
    font-size: 2rem;
    background-color: #fff;
    width: 175px;
    height: 40px;
    box-shadow: 0 0 8px #ac26de;
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#workoutBtn:hover {
    width: 100%;
    transition: all 0.5s ease;
}
/* Content */
/* Main */

/* Media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
/* 2XL */

 /* XL  */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}
 /* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
/* XS */
/* Media */