/* Body */
body {
    font-size: 1rem;
    margin: -1px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}
/* Body */
section {
    height: 250px;
    border: 2px solid red;
}

section h1 {
    font-size: 3rem;
}

button {
    width: 150px;
    font-size: 1.5rem;
    border-radius: 5px;
}
/* All */

/* All */

/* Color Generator */
#colorGen h1 {
    font-size: 3rem;
    border: 2px solid red;
}
/* Color Generator */

/* Number Generator */
#numberGen span {
    display: block;
}
/* Number Generator */

/* Username Generator */

/* Username Generator */

/* Media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
/* 2XL */

 /* XL  */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}
 /* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
/* XS */
/* Media */